<p><b>{{name}}</b> has been booked for <b>{{class}}</b>:</p>

<table border="0">
    <tr><td><b>Dates</b></td>{{#dates}}<td>{{dateTimeFormat(.)}}</td></tr>
    <tr><td></td>{{/dates}}</tr>
    <tr><td><b>Email</b></td><td>{{email}}</td></tr>
</table>
