<p><b>{{name}}</b> has been booked for <b>{{class}}</b>:</p>

<table border="0">
    <tr><td><b>Class Details</b></td><td>{{classMenu}}</td></tr>
    <tr><td><b>Dates</b></td>{{# each(dates) }}<td>{{dateTimeFormat(.)}}</td></tr>
    <tr><td></td>{{/}}</tr>
    <tr><td><b>Email</b></td><td>{{email}}</td></tr>
</table>
