{{% CONTENT_TYPE:TEXT }}
{{name}} has sent you a payment:

Date: {{dateFormat(date)}}
Amount: {{currencyFormat(amount)}}
Student name: {{studentName}}
Email: {{email}}
Method: {{method}}
Reason: {{reason}}
Other details: {{otherDetails}}
