<p>Child registration details for <b>{{studentName}}</b>:</p>

<table border="0">
    <tr><td><b>Email address</b></td><td>{{email}}</td></tr>

    <tr><td><b>Date of birth</b></td><td>{{dateFormat(dateOfBirth)}}</td></tr>
    <tr><td><b>Date joined</b></td><td>{{dateFormat(dateJoined)}}</td></tr>

    <tr><td><b>Experience</b></td><td>{{experience}}</td></tr>
    <tr><td><b>Medical details</b></td><td>{{medical}}</td></tr>

    <tr><td><b>Parent/Guardian</b></td><td>{{name}}</td></tr>
    <tr><td><b>Email address</b></td><td>{{email}}</td></tr>
    <tr><td><b>Phone number</b></td><td>{{phone}}</td></tr>
    <tr><td><b>Address</b></td><td>{{address}}</td></tr>

    <tr><td><b>Hear about us</b></td><td>{{hearAbout}}</td></tr>
    <tr><td><b>Contact method</b></td><td>{{contact}}</td></tr>

    <tr><td><b>Photo consent</b></td><td>{{photoConsent}}</td></tr>
</table>
