{{% CONTENT_TYPE:TEXT }}
Adult registration details for {{name}}:

Email address: {{email}}
Phone number: {{phone}}
Date of birth: {{dateFormat(dateOfBirth)}}
Address: {{address}}

Experience: {{experience}}
Medical details: {{medical}}

Emergency contact: {{emergencyName}}
Emergency phone number: {{emergencyPhone}}

{{#signatureUrl}}Signature: {{signatureUrl}}{{/signatureUrl}}
