{{% CONTENT_TYPE:TEXT }}
Child registration details for {{studentName}}:

Date of birth: {{dateFormat(dateOfBirth)}}
Date joined: {{dateFormat(dateJoined)}}

Experience: {{experience}}
Medical details: {{medical}}

Parent/Guardian: {{name}}
Email address: {{email}}
Phone number: {{phone}}
Address: {{address}}

Hear about us: {{hearAbout}}
Contact method: {{contact}}

Photo consent: {{photoConsent}}

{{#signatureUrl}}Signature: {{signatureUrl}}{{/signatureUrl}}
