<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>email_address_payment_from</key>
	<string>Dance Trix Payments &lt;payments@dancetrix.co.uk&gt;</string>
	<key>email_address_registration_from</key>
	<string>Dance Trix Registrations &lt;registrations@dancetrix.co.uk&gt;</string>
	<key>email_address_booking_from</key>
	<string>Dance Trix Bookings &lt;bookings@dancetrix.co.uk&gt;</string>
	<key>email_address_uniform_from</key>
	<string>Dance Trix Uniforms &lt;uniforms@dancetrix.co.uk&gt;</string>
	<key>email_address_to</key>
	<string>dancetrix@yahoo.co.uk</string>
	<key>dancetrix_uniform_catalog</key>
	<string>http://dancetrix.co.uk/wp-content/uploads/2016/05/Dance-Trix-Catalogue.pdf</string>
	<key>dancetrix_website</key>
	<string>http://www.dancetrix.co.uk</string>
	<key>mailgun_domain</key>
	<string>mg.dancetrix.co.uk</string>
	<key>mailgun_api_key</key>
	<string>XXXX</string>
	<key>feature_book</key>
	<string>true</string>
	<key>feature_calendar</key>
	<string>true</string>
	<key>feature_payment</key>
	<string>true</string>
	<key>feature_uniform</key>
	<string>true</string>
	<key>feature_about</key>
	<string>true</string>
	<key>feature_important_dates</key>
	<string>true</string>
	<key>feature_registration</key>
	<string>true</string>
</dict>
</plist>
