<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>424242602269-2dvgffnml6onsf191he11njen8ib15dg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424242602269-2dvgffnml6onsf191he11njen8ib15dg</string>
	<key>API_KEY</key>
	<string>AIzaSyCYY7B5wETC9J0wEO_1vn7qQ-vWreYjBYw</string>
	<key>GCM_SENDER_ID</key>
	<string>424242602269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.co.dancetrix</string>
	<key>PROJECT_ID</key>
	<string>dance-trix</string>
	<key>STORAGE_BUCKET</key>
	<string>dance-trix.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:424242602269:ios:753e3a1982fcce94</string>
	<key>DATABASE_URL</key>
	<string>https://dance-trix.firebaseio.com</string>
</dict>
</plist>
