<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>445455344762-ur14482h8rrd85vo1co8g8io18f5hedv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445455344762-ur14482h8rrd85vo1co8g8io18f5hedv</string>
	<key>API_KEY</key>
	<string>AIzaSyDbnMD1J8GWUHi6Nnpn6BOTbL8ZeqVCGcc</string>
	<key>GCM_SENDER_ID</key>
	<string>445455344762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.co.dancetrix</string>
	<key>PROJECT_ID</key>
	<string>red-octane-116310</string>
	<key>STORAGE_BUCKET</key>
	<string>red-octane-116310.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:445455344762:ios:753e3a1982fcce94</string>
	<key>DATABASE_URL</key>
	<string>https://red-octane-116310.firebaseio.com</string>
</dict>
</plist>
